---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=8a0cb1ce38af428623003d31c27714a7&exclude=minutely,alerts&lat=39.7&lon=-105&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7,"lon":-105,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632758790,"sunrise":1632747154,"sunset":1632790145,"temp":75.69,"feels_like":74.17,"pressure":1012,"humidity":26,"dew_point":38.41,"uvi":2.47,"clouds":40,"visibility":10000,"wind_speed":1.01,"wind_deg":176,"wind_gust":4,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1632758400,"temp":75.69,"feels_like":74.17,"pressure":1012,"humidity":26,"dew_point":38.41,"uvi":2.47,"clouds":40,"visibility":10000,"wind_speed":1.25,"wind_deg":175,"wind_gust":1.34,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1632762000,"temp":76.51,"feels_like":74.95,"pressure":1012,"humidity":23,"dew_point":36,"uvi":4.16,"clouds":39,"visibility":10000,"wind_speed":0.78,"wind_deg":108,"wind_gust":2.15,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1632765600,"temp":78.62,"feels_like":77.13,"pressure":1011,"humidity":20,"dew_point":34.23,"uvi":5.53,"clouds":36,"visibility":10000,"wind_speed":2.44,"wind_deg":95,"wind_gust":4.72,"weather":[{"id":802,[...]
