---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=8a0cb1ce38af428623003d31c27714a7&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632680507,"sunrise":1632660694,"sunset":1632703840,"temp":302.3,"feels_like":300.65,"pressure":1010,"humidity":16,"dew_point":273.94,"uvi":5.73,"clouds":3,"visibility":10000,"wind_speed":0.45,"wind_deg":25,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632680520,"precipitation":0},{"dt":1632680580,"precipitation":0},{"dt":1632680640,"precipitation":0},{"dt":1632680700,"precipitation":0},{"dt":1632680760,"precipitation":0},{"dt":1632680820,"precipitation":0},{"dt":1632680880,"precipitation":0},{"dt":1632680940,"precipitation":0},{"dt":1632681000,"precipitation":0},{"dt":1632681060,"precipitation":0},{"dt":1632681120,"precipitation":0},{"dt":1632681180,"precipitation":0},{"dt":1632681240,"precipitation":0},{"dt":1632681300,"precipitation":0},{"dt":1632681360,"precipitati[...]
