---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=8a0cb1ce38af428623003d31c27714a7&exclude=current,daily,minutely,alerts&lat=34&lon=118&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34,"lon":118,"timezone":"Asia/Shanghai","timezone_offset":28800,"hourly":[{"dt":1632877200,"temp":71.38,"feels_like":71.94,"pressure":1011,"humidity":79,"dew_point":64.54,"uvi":2.35,"clouds":59,"visibility":10000,"wind_speed":8.1,"wind_deg":15,"wind_gust":10.96,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1632880800,"temp":71.87,"feels_like":72.43,"pressure":1011,"humidity":78,"dew_point":64.63,"uvi":4.13,"clouds":57,"visibility":10000,"wind_speed":8.3,"wind_deg":10,"wind_gust":10.33,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":0.13}},{"dt":1632884400,"temp":73.17,"feels_like":73.71,"pressure":1011,"humidity":75,"dew_point":64.78,"uvi":5.67,"clouds":56,"visibility":10000,"wind_speed":7.47,"wind_deg":11,"wind_gust":8.75,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":0.15}},{"dt":1632888000,"temp":75.07,"feels_like":75.61,"pressure":1010,"humidity":71,"dew_point":65.03,"uvi":4.88,"clouds":58,"visibility":10000,"wind_speed":6.17,"wind_deg":7,"wind_gust":7.[...]
